<div class="document-mod">
  <h2>페이지 관리</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">페이지 정보 수정</span>
        </div>
        <div class="panel-body">
          <span>주의 : 바른 정보를 입력해주세요.</span>
          <form (ngSubmit)="modifyDocument()" name="f_admin_group_add" method="post">
            <input type="hidden" name="_method" value="insert">
            <div class="form-group">
              <label for="catagoryInputName">카테고리 이름</label>
              <p class="form-control">{{document.category}}</p>
            </div>
            <div class="form-group">
              <label for="boardNameInputName">페이지 이름</label>
              <input type="text" [(ngModel)]="document.document_name" class="form-control" name="board_name" id="boardNameInputName" placeholder="페이지 이름">
            </div>
            <div class="form-group">
              <label for="summaryInputName">설명</label>
              <input type="text" [(ngModel)]="document.summary" class="form-control" name="summary" id="summaryInputName" placeholder="설명">
            </div>
            <div class="form-group">
              <fieldset>
                <legend>읽기 허용</legend>
                <div class="radio">
                  <label class="radio-inline">
                    <input #readableRadioY (change)="document.is_readable=readableRadioY.value" type="radio" name="is_readable" value="y" [checked]="document.is_readable === 'y'">허용
                  </label>
                  <label class="radio-inline">
                    <input #readableRadioN (change)="document.is_readable=readableRadioN.value" type="radio" name="is_readable" value="n" [checked]="document.is_readable === 'n'">비허용
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="boardWidthInputName">넓이</label>
              <input type="text" [(ngModel)]="document.document_width" class="form-control" name="board_width" id="boardWidthInputName" placeholder="넓이">
            </div>
            <div class="form-group">
              <label for="headerPathInputName">상단 파일 경로</label>
              <input type="text" [(ngModel)]="document.header_path" class="form-control" name="header_path" id="headerPathInputName" placeholder="상단 파일 경로">
            </div>
            <div class="form-group">
              <label for="templateType" class="control-label label_width">템플릿 타입</label>
              <select id="templateType" name="template_type" class="form-control"
                  [(ngModel)]="document.template_type"
                  [disabled]="document.template_mode === 'p'"
                  (change)="changeTemplate()">
                <option value="{{skin}}" *ngFor="let skin of skinList">{{skin}}</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>템플릿 모드</legend>
                <div class="radio">
                  <label class="radio-inline">
                    <input type="radio" name="template_mode" value="o"
                        #templateModeO
                        (change)="document.template_mode=templateModeO.value"
                        [checked]="document.template_mode === 'o'">Original
                  </label>
                  <label class="radio-inline">
                     <input type="radio" name="template_mode" value="p"
                        #templateModeP
                        (change)="document.template_mode=templateModeP.value"
                        [checked]="document.template_mode === 'p'">Published
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="sx-form-inline">
              <label for="emptyName" class="sx-control-label label_width">컨텐츠 내용</label>
              <div class="form-group">
                <ul class="nav nav-tabs">
                  <li [class.active]="activeTab === tab" *ngFor="let tab of tabList">
                    <a href="#" alt="템플릿 입력 탭"
                        (click)="swapContentTab($event, tab);">{{(tab === 'tpl' ? 'html' : tab)|uppercase}}</a>
                  </li>
                </ul>

                <div class="content_panel">
                  <textarea name="content_{{tab}}" rows="15" class="form-control"
                      *ngFor="let tab of tabList"
                      [class.hide]="activeTab !== tab" >{{document['content_'+tab]}}</textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="footerPathInputName">하단 파일 경로</label>
              <input type="text" [(ngModel)]="document.footer_path" class="form-control" name="footer_path" id="footerPathInputName" placeholder="하단 파일 경로">
            </div>
            <div class="text-center">
              <span class="btn-group" role="group">
                <button type="submit" class="btn btn-default btn-sm">확인</button>
                <a (click)="goBack();" class="btn btn-default btn-sm" role="button">취소</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>