<div class="board">
  <h2>게시판 관리</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="board-group-input form-group">
        <div class="input-group">
          <label for="boardGroupInput" class="sr-only">카테고리 영문 이름</label>
          <input #boardGroupInput (keyup.enter)="addNewItem(boardGroupInput.value); boardGroupInput.value=''" (blur)="resetValidation()" type="text" id="boardGroupInput" class="form-control" placeholder="카테고리 영문 이름">
          <span class="input-group-btn">
            <button (click)="addNewItem(boardGroupInput.value); boardGroupInput.value=''" (blur)="resetValidation();" class="btn btn-default">추가</button>
          </span> 
        </div>
        <div [hidden]="isEmptyInputValue" class="alert alert-warning" role="alert">{{msg}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">게시판 그룹 목록</span>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-info-sign"></span> <p>한번 삭제 시 모든 자료가 사라집니다. 주의하세요.</p>            
        </div>
        <div class="list-group">
          <div class="list-group-item text-center"
            [hidden]="isBoardLoaded">
            <img src="assets/images/loadingbar_stick.gif" alt="" class="img_loader">
          </div>
          <div class="list-group-item alert-warning text-center" role="alert"
            [hidden]="isBoardLoaded === false || groups.length" >
            <span>등록된 게시판이 존재하지 않습니다.</span>
          </div>
          <ul>
            <li *ngFor="let group of groups" class="list-group-item clearfix">
              <a href="{{domainUrl}}{{group.category}}" target="_blank" class="pull-left" role="button">
                <h4 class="list-group-item-heading">{{group.board_name}}</h4>
                <p>{{group.date}}</p>
              </a>          
              <span class="btn-group pull-right" role="group">
                <a [routerLink]="['/board-group-modify',group.id]" class="btn btn-info btn-sm" role="button">수정</a>
                <a [routerLink]="['/board-group-delete',group.id]" class="btn btn-default btn-sm" role="button">삭제</a>
              </span>       
            </li>
          </ul>
        </div>        
      </div>
    </div>
  </div>
</div>